<ion-view>
  <ion-header-bar align-title="center" class="bar bar-header bar-positive">
    <h1 class="title white-text">User Profile</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nickname</span>
        <input type="text" placeholder="For example: John" ng-model="profile.name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <input type="text" placeholder="One should eat to live, not live to eat" ng-model="profile.description">
      </label>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-positive" ng-click="submit()">
          Submit
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
