<ion-tabs class="tabs-positive tabs-icon-only">
  <ion-tab icon="ion-android-people" href="#/main-tabs/post-list">
    <ion-nav-view name="tab-post-list"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-search" href="#/main-tabs/place-list">
    <ion-nav-view name="tab-place-list"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-camera" href="#/main-tabs/create-post">
    <ion-nav-view name="tab-create-post"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-compass" href="#/main-tabs/coupon-list">
    <ion-nav-view name="tab-coupon-list"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-android-person" href="#/main-tabs/user-profile">
    <ion-nav-view name="tab-user-profile"></ion-nav-view>
  </ion-tab>

</ion-tabs>
