<ion-view>
  <ion-header-bar align-title="center" class="bar bar-header bar-positive">

    <h1 class="title white-text">自動推薦</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="map"></div>

  </ion-content>
  <!-- align to the bottom of the page -->
  <div style="position: absolute; bottom: 60px; width: 100%; height: 100px;">
    <div style="height:100%;">
      <ion-scroll direction="x"  class="wide-as-needed"  style="height:100%;" delegate-handle="placeScroll" >
        <div class="item item-avatar place-card" ng-repeat="place in places" ng-click="panTo(place)">
          <img src="{{place.photos.length>0 ? place.photos[0].getUrl() : 'img/photo-placeholder.jpg'}}">
          <h2>{{place.name}}</h2>
          <p>{{place.vicinity}}</p>
          <!-- <p><star-rating-comp rating="'3.0'"></star-rating-comp></p> -->
        </div>
      </ion-scroll>
    </div>
  </div>
</ion-view>
