<ion-view>
  <ion-header-bar align-title="center" class="bar bar-header bar-positive">
    <div class="buttons">
      <button class="button button-icon icon ion-chevron-left" ng-click="goBackward()"></button>
    </div>
    <h1 class="title white-text">{{place.name}}</h1>
  </ion-header-bar>
  <ion-content>
    <ion-refresher on-refresh="reloadPosts()"></ion-refresher>
    <ion-list>
      <ion-item collection-repeat="post in posts | orderBy:'-createdTime'">
        <div class="row padding">
          <div class="col col-40">
            <div class="" style="float: left;">
              <img class="circle-sm" ng-src="{{post.author.avatar ? post.author.avatar : 'img/avatar.png'}}">
            </div>
            <div class="padding-horizontal text-center-y" style="float: left; ">
              <h4>{{post.author.name}}</h4>
              <h6 class="positive">{{post.createdSince}}</h6>
            </div>
          </div>
          <div class="col col-60 text-right-x">
            <button class="button button-clear button-positive">
              <i class="icon ion-location"></i> {{post.placeName}}
            </button>
          </div>
        </div>
        <div class="row padding" style="height: 15rem;">
          <div class="col" back-img="{{post.photos[0].url}}" ng-click="openPhotoSlideModal($index)" style="width:100%;height: 100%;background-size: contain;background-repeat: no-repeat;background-position: center; background-color: black;">
            <div class="row" style="height:100%">
              <div class="col col-bottom" style="background-color: rgba(0, 0, 0, 0.3); color: white;" ng-if="post.photos[0].description">
                {{post.photos[0].description}}
              </div>
            </div>
          </div>
        </div>
        <div class="row padding" ng-repeat="item in post.items track by $index">
          <div class="col">
            {{item.name}} ${{item.price}}
          </div>
        </div>
      </ion-item>
    </ion-list>
    <!-- <ion-infinite-scroll ng-if="hasMorePosts" on-infinite="loadNextPage()" distance="5px"></ion-infinite-scroll> -->
  </ion-content>
</ion-view>
