<ion-view>
  <ion-header-bar align-title="center" class="bar bar-header bar-positive">
    <h1 class="title white-text">My Profile</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-log-out" ng-click="logout()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col text-center-x" style="padding-top: 40px;">
        <img class="circle-lg" ng-src="{{me.user.avatar}}">
      </div>

    </div>
    <div class="row">
      <div class="col text-center-x">
        <h4>{{me.user.name}}</h4>
        <p>{{me.user.description}}</p>
      </div>
    </div>

    <div class="row padding">

      <div class="col text-center-x">
        <h5>Followers</h5>
        <p>{{followerCount}}</p>
      </div>
      <div class="col text-center-x">
        <h5>Following</h5>
        <p>{{followingCount}}</p>
      </div>

    </div>

    <div class="row">
      <div class="col padding">
       
          <div collection-repeat="photo in photos" class="photo-thumb" item-height="100" item-width="100" back-img="{{photo.url}}">
        
      </div>
    </div>

   

  </ion-content>
</ion-view>
